.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.201);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #00000025;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar:horizontal {
  width: 5px;
  height: 10px;
}

.scroll::-webkit-scrollbar-track:horizontal {
  background: rgba(255, 255, 255, 0.201);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:horizontal {
  background: #00000025;
  border-radius: 10px;
}